<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginValidationFormServlet</servlet-name>
        <servlet-class>controller.LoginValidationFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAdminController</servlet-name>
        <servlet-class>controller.AddAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddApplicationController</servlet-name>
        <servlet-class>controller.AddApplicationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplicationController</servlet-name>
        <servlet-class>controller.ApplicationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateApplicationController</servlet-name>
        <servlet-class>controller.UpdateApplicationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteApplicationController</servlet-name>
        <servlet-class>controller.DeleteApplicationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEmployeeController</servlet-name>
        <servlet-class>controller.SearchEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeactivateAdminServlet</servlet-name>
        <servlet-class>controller.DeactivateAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateAdminServlet</servlet-name>
        <servlet-class>controller.ActivateAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminStatusUpdaterServlet</servlet-name>
        <servlet-class>controller.AdminStatusUpdaterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHandlerServlet</servlet-name>
        <servlet-class>controller.AdminHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminStatusServlet</servlet-name>
        <servlet-class>controller.AdminStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginValidationFormServlet</servlet-name>
        <url-pattern>/LoginValidationFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAdminController</servlet-name>
        <url-pattern>/AddAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplicationController</servlet-name>
        <url-pattern>/ApplicationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEmployeeController</servlet-name>
        <url-pattern>/SearchEmployeeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeactivateAdminServlet</servlet-name>
        <url-pattern>/DeactivateAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateAdminServlet</servlet-name>
        <url-pattern>/ActivateAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminStatusUpdaterServlet</servlet-name>
        <url-pattern>/AdminStatusUpdaterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHandlerServlet</servlet-name>
        <url-pattern>/AdminHandlerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminStatusServlet</servlet-name>
        <url-pattern>/AdminStatusServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/dataSource</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
